/* ======= variables ======= */

// colors
$c-white:               #fff;
$c-black:               #000;
$c-gray:                #f2f2f2;

// typography
$font-size-xs:          10px;
$font-size-s:           14px;
$font-size-m:           16px;
$font-size-base:        18px;
$font-size-lg:          20px;
$font-family-base:      Arial, sans-serif;

$line-height-base:      1.33;

$border-radius-base:    2px;

$gutter-width:          16px;

// breakpoints
$breakpoints: (
        phone: 320,
        phone-max: 767,
        tablet: 768,
        desktop: 992,
        desktop-large: 1200
);